.section-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav {
    display: flex;

    &__item {
      margin-right: 50px;
      font-size: 16px;
      opacity: 0.5;
      position: relative;
      transition: 200ms ease;

      &:hover {
        opacity: 1;
      }
    }

    &__item.active {
      opacity: 1;

      &:after {
        display: block;
        clear: both;
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
        margin-top: 5px;
      }
    }
  }

  &__actions {
    display: flex;
  }

  &__action {
    margin-right: 75px;

    svg {
      fill: #fff;
      width: 20px;
      height: 20px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  &__action.active {
    position: relative;

    &:after {
      display: block;
      clear: both;
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      width: 6px;
      height: 6px;
      border-radius: 50px;
      background: linear-gradient(180deg, #326CFF 0%, #26FFF2 100%);
    }
  }
}
