.section-home {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 350px 0px;
}

.home {
  margin-left: 100px;
  width: 50%;

  &__title {
    font-family: 'Marcellus', sans-serif;
    font-size: 100px;
    line-height: 76px;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;

    div {
      margin-right: 20px;
      display: flex;
      align-items: center;

      svg {
        fill: #FFB800;
        width: 14px;
        height: 14px;
      }
    }
  }

  &__description {
    padding-right: 300px;

    font-size: 16px;
    line-height: 28px;
    color: #c2c2c2;
  }

  &__actions {
    display: flex;
  }
}

.section-gunner {
  border-top: 2px solid #323232;
}
