body {
  background-color: #000;
  color: #fff;
  font-family: 'Mulish', sans-serif;
}

// components
@import 'src/scss/components/section';
@import 'src/scss/components/button';
@import 'src/scss/components/title';
@import 'src/scss/components/slider';
@import 'src/scss/components/genre';
@import 'src/scss/components/channel';
@import 'src/scss/components/actor';

// partials
@import 'src/scss/partials/header';
@import 'src/scss/partials/home';
@import 'src/scss/partials/genres';
@import 'src/scss/partials/chanels';
@import 'src/scss/partials/actors';
@import 'src/scss/partials/afisha';
@import 'src/scss/partials/register';
