.button {
  display: flex;
  align-items: center;

  outline: none;
  padding: 15px 30px;
  border-radius: 100px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 800;

  svg {
    width: 20px;
    height: 16px;
    margin-right: 10px;
  }
}

.button.button_color_white {
  background-color: #fff;
  color: #323232;
}

.button.button_color_blue {
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  color: #fff;

  svg {
    fill: #fff;
  }
}
