.genre {
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    svg {
      fill: #fff;
      width: 100px;
      height: 100px;

      @media (max-width: 1200px) {
        width: 80px;
        height: 80px;
      }

      @media (max-width: 1024px) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__title {
    font-size: 28px;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
}

.genre__theme_romance {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}

.genre__theme_drama {
  background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}

.genre__theme__history {
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}

.genre__theme__action {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}

.genre__theme__sciFi {
  background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}

.genre__theme__horror {
  background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}

.genre__theme__comedy {
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.genre__theme__documentary {
  background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}
